* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: darkcyan;
    font-family: system-ui, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.book-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book {
    border: 2px solid rgba(239, 162, 47, 0.748);
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
